<div>
    <div>
        <h5>Bienvenido, {{first_name}}.</h5>

        <form id="changeForm">
            <label>Escriba su nueva contraseña:</label>
            <input name="newPassword">

            <label>Confirme reescribiendo su nueva contraseña:</label>
            <input name="reallyNewPassword">

            <input type="submit">
        </form>
    </div>
</div>
<script src="/js/change.js"></script>
