<div>
    <div id="preInput">
        <h5>Para recuperar su cuenta, envienos su email y le enviaremos un link para restablecerla.</h5>

        <form id="recoverForm">
            <label>Email:</label>
            <input name="email">

            <input type="submit">
        </form>
    </div>

    <div id="postInput">
        <h4>En momentos le llegara un mail con un link a su correo, en dicho link terminaremos yendo al siguiente paso de recuperación de cuenta.</h4>
    </div>
</div>
<script src="/js/recover.js"></script>
